<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="base :: head"/>
<body>
    <div class="container">
        <h1>Books</h1>
        <div th:if="${not #lists.isEmpty(books)}">
            <div class="book row" th:each="book : ${books}">
                <div class="col-md-9">
                    <h4 th:text="${book.title}">Book title</h4>
                    <h6 th:text="${book.authorsString}">Authors</h6>
                    <p>
                    <div th:if="${book.publisher} != null">
                        Publisher:
                        <a href="#" th:href="@{__${book.publisher.url}__}"
                           th:text="${book.publisher.name}">Publisher</a>
                    </div>
                    <div th:if="${book.isbn} != null"
                         th:text="|ISBN: ${book.isbn}|">ISBN
                    </div>
                    <div th:if="${book.yearPublished} != null"
                         th:text="|Year Published: ${book.yearPublished}|">Year Published
                    </div>
                    </p>
                </div>
                <div class="col-md-3">
                    <img th:if="${book.imageUrl} != null" th:src="${book.imageUrl}" />
                </div>
            </div>
        </div>

        <div>
            <a class="btn btn-primary" href="form.html" th:href="@{/books/new}">New Book</a>
        </div>

    </div>

    <div th:include="base :: scripts"/>
</body>
</html>