<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="base :: head"/>
<body>
    <div class="container">
        <h1>Books</h1>
        <div th:if="${not #lists.isEmpty(books)}">
            <div class="book row" th:each="book : ${books}">
                <div class="col-md-9">
                    <h4 th:text="${book.title}">Book title</h4>
                    <h6>
                        <span th:each="author, iter : ${book.authors}">
                            <a th:href="@{__${author.url}__}" th:text="${author.name}">
                                Author
                            </a><span th:if="!${iter.last}" th:text="', '"></span>
                        </span>
                    </h6>

                    <div class="book-info">
                        <div th:if="${book.publisher} != null">
                            Publisher:
                            <a href="#" th:href="@{__${book.publisher.url}__}"
                               th:text="${book.publisher.name}">Publisher</a>
                        </div>
                        <div th:if="${book.isbn} != null"
                             th:text="|ISBN: ${book.isbn}|">ISBN
                        </div>
                        <div th:if="${book.yearPublished} != null"
                             th:text="|Year Published: ${book.yearPublished}|">Year Published
                        </div>
                    </div>

                    <div class="actions">
                        <a class="btn btn-primary" th:href="@{|/books/${book.id}/edit|}">Edit</a>
                        <form class="form" th:object="${book}" th:action="@{|/books/${book.id}/delete|}"
                              method="POST"
                              style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <img th:if="${book.imageUrl} != null" th:src="${book.imageUrl}"/>
                </div>
            </div>
        </div>

        <div>
            <a class="btn btn-primary" href="form.html" th:href="@{/books/new}">New Book</a>
        </div>

    </div>

    <div th:include="base :: scripts"/>
</body>
</html>