<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="base :: head"/>
<body>
    <div class="container">
        <h1>Authors</h1>
        <div th:if="${not #lists.isEmpty(authors)}">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.id}"></td>
                    <td th:text="${author.name}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{|/authors/${author.id}/edit|}">Edit</a>
                        <form class="form" th:object="${author}" th:action="@{|/authors/${author.id}/delete|}"
                              method="POST"
                              style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <a class="btn btn-primary" href="form.html" th:href="@{/authors/new}">New Author</a>
        </div>
    </div>

    <div th:include="base :: scripts"/>
</body>
</html>