<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="base :: head"/>
<body>
    <div class="container">
        <h1>Add/Edit Publisher</h1>
        <form class="form" th:object="${publisher}" th:action="@{/publishers}" method="POST">
            <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
               th:class="text-danger">Incorrect data</p>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('name')}? 'is-invalid'" th:field="*{name}"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   th:class="invalid-feedback">Incorrect data</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-warning" th:href="@{/publishers}">Back to Publishers</a>
            </div>
        </form>

        <div>

        </div>
    </div>

    <div th:include="base :: scripts"/>
</body>
</html>
